<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
        }

        .container-1 {
            max-width: 900px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }

        .btn {
            padding: 10px 20px;
            background-color: #67b0b7;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #67b0b7;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            vertical-align: top;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        .cart-info p {
            margin: 0;
        }

        .form-control {
            width: auto;
            display: inline-block;
            margin-bottom: 10px;
        }

        .form-control,
        .btn {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    {{#ifEquals role "donator"}}
    <div class="container-1">
        <div class="small-container cart-page">
            <table>
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Expiry Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each donations}}
                    <tr>
                        <td>
                            <div class="cart-info">
                                <p>{{productName}}</p>
                            </div>
                        </td>
                        <td>{{qty}}</td>
                        {{#if expiry}}
                        <td>{{expiry}}</td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

<br>
        <form action="/donate/cart" method="post" style="text-align:center;">
            <label for="pantry">Select a pantry:</label>
            <select name="pantry" class="form-control mb-4">
                {{#each pantries}}
                <option value="{{_id}}" id="pantry" name="pantry">{{pantryName}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Check Out" class="btn">
        </form>

        <p>
            <a href="/donate">Back to Donate Page</a>
        </p>

    </div>
    {{/ifEquals}}

    {{#ifEquals role "staff"}}
    <div class="container-1">
        <div class="small-container cart-page">
            <table>
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Expiry Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each claims}}
                    <tr>
                        <td>
                            <div class="cart-info">
                                <p>{{productName}}</p>
                            </div>
                        </td>
                        <td>{{qty}}</td>
                        {{#if expiry}}
                        <td>{{expiry}}</td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

<br>
        <form action="/staff/cart" method="post" style="text-align:center;">

            <input type="submit" value="Check Out" class="btn">
        </form>

        <p>
            <a href="/staff">Back to Donations</a>
        </p>
    </div>
    {{/ifEquals}}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>

</html>
