<style>
    .container-1 {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
      
        
    }

    .form-group-1 {
        margin-bottom: 20px;
    }


</style>

<form action="/donate" method="POST">
<br>
<div class="container-1">
    <title>{{title}}</title>
    <h2 class="text-center mb-4">Food Donation Shop</h2>
    <p> Thank you for considering donating to one of our pantries. Below, you can see what items we are currently accepting. This changes from time to time. Please check back often to see what we are accepting!</p>
    <div class="row justify-content-center">
         
        <label for="item">Select an item:</label>
        <select name="product" class="form-control mb-4">
            {{#each products}}
                <option value="{{_id}}_{{productName}}" name=>{{typeOfProduct}} - {{productName}}</option>
            {{/each}}
        </select>
        <label for="quantity">Quantity:</label>
        <input type="number" id="qty" name="qty" class="form-control mb-2" min="1" max="10" required>
        <label for="expiry">Expiry Date:</label>
        <input type="date" id="expiry" name="expiry" class="form-control mb-2" required>
        <input type="hidden" name="productName" value="{{productName}}">
        
       
         <div>
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Add to Basket" class="btn btn-primary">
            </div>
            <!-- Error Message -->
            {{#if errorMessage}}
            <div class="alert alert-danger" id="error" role="alert">
                {{errorMessage}}
            </div>
            {{/if}}
            {{#if successMessage}}
            <div class="alert alert-success" id="error" role="alert">
                {{successMessage}}
            </div>
            {{/if}}
            
        </div>
        
        <br>
    </div>

</div>
<br>
</form>

<script>

    
    // JavaScript code to scroll to the error message
    document.addEventListener('DOMContentLoaded', function() {
        var errorMessage = document.getElementById('error');
        if (errorMessage) {
            errorMessage.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }
    });
</script>