

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- CSS and JavaScript links can be included here -->
    <style>
        /* Container Styles */


        /* Table Styles */
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        .table th,
        .table td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
        }

        .table tbody tr:hover {
            background-color: #f5f5f5;
        }

    

    </style>
</head>

<body>
    <div class="container">
        <h2 style="text-align: center; color: #000000">Products Dashboard</h2>



        <table id="userTable" class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Expiry</th>
                    <th>Action</th>
  
                </tr>
            </thead>
            <tbody id="userTableBody">
                {{#each products}}
                <tr>
                    <td>{{productName}}</td>
                    <td>{{quantity}}</td>
                    <td>{{expiry}}</td>
                    <td>
                        {{!-- only deletes if confirmDelete() is true --}}
                        <form action="/staff" method="post">
                            <input type="hidden" name="productId" value="{{productId}}">
                            <input type="hidden" name="productName" value={{productName}}>
                            <input type = "hidden" name = "qty" value = {{quantity}}>
                            <input type = "hidden" name = "expiry" value = {{expiry}}>
                            <input type="submit" value="Claim" class="btn btn-primary">
                        </form>
                    </td>
                  
                </tr>
                {{/each}}
            </tbody>
        </table>
        <p>
            {{#if errorMessage}}
            <div class="alert alert-danger" id="error" role="alert">
                {{message}}
            </div>
            {{/if}}
            {{#if successMessage}}
            <div class="alert alert-success" id="error" role="alert">
                {{successMessage}}
            </div>
            {{/if}}
        </p>
    </div>
</body>
<script>
    // JavaScript code to scroll to the error message
    document.addEventListener('DOMContentLoaded', function() {
        var errorMessage = document.getElementById('error');
        if (errorMessage) {
            errorMessage.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }
    });
</script>



